.App {
  font-size: 1em;
  text-align: center;
  background-color: #1A1D20;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media screen and (max-width: 600px) {
  .App{
    font-size: 0.5em;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .App {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 800px) {
  .App{
    font-size: 1em;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
